/* cadastro.css */
body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to top left, #d9a89b 40%, #a46f6b 70%, #6b3d3a);


  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: #fff;
}

h1, h2 {
  margin-bottom: 20px;
}

form {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 15px;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  outline: none;
}

input::placeholder {
  color: #777;
}

button {
  background-color: #fff;
  color: #185a9d;
  font-size: 1rem;
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
}

button:hover {
  background-color: #e6e6e6;
  transform: scale(1.03);
}

#mensagem {
  margin-top: 15px;
  font-size: 0.95rem;
  color: #ffd700;
}
