* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: url('fundo.jpg') no-repeat center center;
  background-size: cover;
  color: #2e2e2e;
  height: 100vh;
  overflow: hidden;
}

.hero {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #3e3e3e;
}

.hero h1 {
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 12px 24px;
  background-color: rgba(255, 255, 255, 0.7); /* tom salmão claro translúcido */
  border: 2px solid #c48d84; /* borda em tom rosado */
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(80, 60, 50, 0.3);
  color: #5a3935; /* marrom suave */
}

.hero p {
  font-size: 1.1rem;
  color: #5a5a5a;
  margin-bottom: 20px;
  max-width: 600px;
}

.hero button {
  background-color: #8b6f61; /* marrom rosado */
  color: #fffaf8;
  padding: 12px 30px;
  font-size: 1rem;
  border: 2px solid #e8d4ca;
  border-radius: 25px;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s, color 0.3s;
  letter-spacing: 1px;
}

.hero button:hover {
  background-color: #fffaf8;
  color: #8b6f61;
  transform: scale(1.05);
}
